<!DOCTYPE html>
<html ng-app="constructeev">
  <head>
    <title>Constructeev</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="apple-touch-icon" href="http://cdn.bmalum.net/bmalum/logos/Icon-76%402x.png" >
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <script src="https://cdn.bmalum.com/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdn.bmalum.com/semantic-ui/2.1/semantic.js"></script>
    <script src="https://cdn.bmalum.com/angularjs/1.4.7/angular.js"></script>
    <script src="http://cdn.bmalum.com/angularjs/1.4.7/angular-animate.js"></script>
    <script src="http://cdn.bmalum.com/angular-ui/0.2.15/angular-ui-router.js"></script>
    <script src="http://cdn.bmalum.com/angular-scroll/angular-scroll.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.bmalum.com/semantic-ui/2.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bmalum.com/animate-css/animate.css">
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div ng-include="'ng-templates/side_nav.html'" include-replace>
    </div>
    <div class="pusher">
      <div class="container" ng-include="'ng-templates/nav_top.html'" include-replace>
      </div>
      <div ui-view>
      </div>
    </div>
  </div>
</body>
</html>
